<section class="box information" id="about">
    <div class="information-about">
        <h2 class="information-about-title">ABOUT ME</h2>
    </div>

    <div class="information-container">
        <div class="information__text">
            <div class="information__titles">
                <h2 class="information__title">
                    Hey, I'm<span
                        class="information__title information__title--orange"
                    >
                        Patricio.</span
                    >
                </h2>
                <h3 class="information__subtitle">
                    corper tempor. Vestibulum vitae diam eget quam efficitur
                    bibendum. Duis quis tortor at magna sollicitudi
                </h3>
            </div>
            <div class="information__description">
                <p class="information__description-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Fusce id lectus quis quam ullamcorper tempor. Vestibulum
                    vitae diam eget quam efficitur bibendum. Duis quis tortor at
                    magna sollicitudin consectetur. Nulla facilisi. Suspendisse
                    potenti. Morbi id volutpat sem. Integer vitae ante nec nunc
                    placerat euismod. Proin feugiat vehicula purus, sit amet
                    vehicula ipsum molestie nec. Nam eget eros nec leo tincidunt
                    accumsan. Quisque dictum sem eu enim convallis lacinia.
                    Aenean eu justo id orci commodo consequat ut id nisi. Cras
                    viverra fermentum enim, at consectetur dolor scelerisque
                    nec. Donec nec sagittis libero. Duis dapibus lorem non ex
                    vestibulum, in eleifend nulla ultricies. Sed nec ex vitae
                    nunc vulputate accumsan. Etiam suscipit feugiat sapien,
                    vitae varius quam convallis non. Nullam ac velit eu felis
                    pharetra facilisis nec ut ipsum. Vivamus nec malesuada diam.
                    Phasellus ut tincidunt metus, ac rhoncus justo. Curabitur
                </p>
            </div>
        </div>
        <div class="information__images">
            <img
                class="information__image"
                src="./assets/images/Captura desde 2024-02-04 19-37-45.png"
                alt=""
            />
        </div>
    </div>
</section>
