<header class="header">
    <div class="header__logo">
        <a href="#" class="header__logo-link">PA</a>
    </div>
    <button class="header__hamburguer">
        <img
            src="../assets/icons/menu.svg"
            alt="Menu"
            class="header__hamburguer-img"
            (click)="toggleMenu()"
        />
    </button>
    <!--class="main-nav"-->
    <nav [ngClass]="{ 'main-nav--active': isActive, 'main-nav': !isActive }">
        <ul class="main-menu">
            <li class="main-menu__item">
                <a class="main-menu__link text-color" href="#">About me</a>
            </li>
            <li class="main-menu__item">
                <a class="main-menu__link text-color" href="#">Skills</a>
            </li>
            <li class="main-menu__item">
                <a class="main-menu__link text-color" href="#">Proyects</a>
            </li>
            <li class="main-menu__item">
                <a class="main-menu__link text-color" href="#">Contact</a>
            </li>
        </ul>
    </nav>
</header>
