a, a:link, a:visited{
    text-decoration: none;
}

ul{
    list-style: none;
}



.header{
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.header--active{
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
}

.header__logo{

}

.header__logo-link{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}


/*BUTTON*/
.header__hamburguer {
    background-color: transparent;
    border: none;
    color: transparent;

}

.header__hamburguer-img{
    width: 40px;
    height: 40px;
}
.header__hamburguer-img:hover{
    cursor: pointer;
}


.main-nav{

    display: none;
}

.main-nav--active{
    width: 100%;
    display: block;
    margin-top: 1em;
}

.main-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}


/*MENU LI*/

.main-menu__item {
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
}

.main-menu__link{
    color: white;
}

.main-menu__item:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    .text-color {
        color: white;
    }
}



@media screen and (min-width:500px) {



    .header{
    display: none;
    }


}
