<header [ngClass]="isActive ? 'header--active' : 'header'">
    <div class="header__logo">
        <a href="#" class="header__logo-link"></a>
    </div>
    <button class="header__hamburguer" (click)="activeMenu()">
        <img
            src="../assets/icons/menu.svg"
            alt="Menu"
            class="header__hamburguer-img"
        />
    </button>
    <nav [ngClass]="isActive ? 'main-nav--active' : 'main-nav'">
        <ul class="main-menu">
            <li class="main-menu__item">
                <a class="main-menu__link text-color" href="#home">Home</a>
            </li>
            <li class="main-menu__item">
                <a class="main-menu__link text-color" href="#about">About me</a>
            </li>
            <li class="main-menu__item">
                <a class="main-menu__link text-color" href="#services"
                    >Services</a
                >
            </li>
            <li class="main-menu__item">
                <a class="main-menu__link text-color" href="#proyects"
                    >Proyects</a
                >
            </li>
            <li class="main-menu__item">
                <a class="main-menu__link text-color" href="#contact"
                    >Contact</a
                >
            </li>
        </ul>
    </nav>
</header>
