.slider{
    display: flex;
    flex-direction: column;
    width: 35px;
    height: auto;
    gap: 1em;
    align-items: center;
    padding: 1em;
    position: fixed;
    right: 20px;
    top: 50vh;
}
.circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(84, 84, 84, 0.4);
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}


// .circle.active {
//     background-color: rgb(223, 57, 0, 0.7);
//     /* Otros estilos para el círculo activo */
// }

.circle.incactive {
    background-color: rgb(84, 84, 84, 0.4);
    /* Otros estilos para el círculo activo */
}



.circle:hover{
    background-color: rgb(223, 57, 0, 0.7);

}


.circle__img{
    width: 20px;
    height: 20px;
    filter: invert(1);
}
