
.container{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
body{
    margin: 0;
    padding: 0;
}


.header{
    position: fixed;
    width: 100%;
}



@media screen and (max-width:500px) {

    .slider{
        display: none;
    }
}
