:root {
    --bg-color: #0d0f1a;
    --font-main-color: #fff;
    --font-secondary-color: #d7d7e4;
    --font-roboto: "Poppins", sans-serif;
    --header-color: rgb(13, 15, 26, 0.9);
    --font-secondary-color-test:#f2f2f2;
    --secondary-color:#831913;
}


html {
    scroll-behavior: smooth;
  }

/*#86878d*/
*,
*::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-roboto);
    background-color: var(--bg-color);
    color: var(--font-main-color);
}
